@media all and (max-width: 1023px) {
    header {
        background-color: var(--custom-color1);
        margin-bottom: 20px;
        border-radius: 0 0 15px 15px;
        display: grid;
        grid-template-areas: 
            "menu .. search"
            ".. logo ..";
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    }

    .logo-photo {
        grid-area: logo;
        height: 100px;
        margin-left: 20px;
        margin-bottom: 50px;
        justify-self: center;
    }
    
    .icon {
        background-image: url(img/sprites.png);
        background-size: 350%;
        background-repeat: no-repeat;
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: 0 5px;
        border-radius: 100%;
    }
    
    .instagram {
        background-position: 2px 4px;
        visibility: hidden;
        position: absolute;
    }
    
    .facebook {
        background-position: -28px 4px;
        visibility: hidden;
        position: absolute;
    }
    
    .twitter {
        background-position: -59px 4px;
        visibility: hidden;
        position: absolute;
    }
    
    .social-block {
        grid-area: search;
        margin-top: 15px;
        margin-right: 20px;
        justify-self: right;
    }
    .social-block .search {
        background-image: url(img/search.png);
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: 3px 3px;
        margin-right: 10px;
        background-color: var(--custom-color3);
    }
    
    .icon:hover {
        background-color: var(--custom-color3);
    }

    #menu-toggle {
        opacity: 0;
        visibility: visible;
    }

    .menu-btn {
        grid: menu;
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--custom-color3);
    }

    .menu-btn > span::before {
    content: '';
    top: -8px;
    }

    .menu-btn > span::after {
    content: '';
    top: 8px;
    }

    .menu-box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu-box a {
        text-decoration: none;
        color: #000000;
        margin: 15px 0;
        display: block;
        font-size: 1.25em;
        border-radius: 10px;
        padding: 12px 24px;
    }

    .menu-box a:hover {
        background-color: #CFD8DC;
    }

    #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-box {
        visibility: visible;
        left: 0;
    }

    .main-container {
        display: grid;
        grid-template-areas: 
            "aside" 
            "main"
            "aside";
        grid-template-columns: 3fr 1fr;
    }

    main {
        float: left;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 20px;
        justify-content: center;
        grid-area: main;
    }

    
}